@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.icon-content {
    margin: 5px;
}

.icon {
    color: inherit;
}

.content {
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑,
        STHeiti, MingLiu, sans-serif;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    color: inherit;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 45px;
}

.content-right {
    line-height: 12px;
    width: 45px;
    height: 35px;
}
