@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.icon-content {
  width: 30px;
  height: 40px;
}

.content {
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑,
    STHeiti, MingLiu, sans-serif;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
}
.content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-right {
  line-height: 10px;
  width: 40px;
}
